@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>ServerPrerendered</p>
    @await (Html.RenderComponentAsync<Counter>(Microsoft.AspNetCore.Mvc.Rendering.RenderMode.ServerPrerendered))
</div>


<div>
    <p>Server</p>
    @await (Html.RenderComponentAsync<Counter>(Microsoft.AspNetCore.Mvc.Rendering.RenderMode.Server))
</div>


<div>
    <p>Static</p>
    @await (Html.RenderComponentAsync<Counter>(Microsoft.AspNetCore.Mvc.Rendering.RenderMode.Static))
</div>


<div>
    <p>WebAssembly</p>
    @await (Html.RenderComponentAsync<Counter>(Microsoft.AspNetCore.Mvc.Rendering.RenderMode.WebAssemblyPrerendered))
</div>