@page
@model LuftballonAt.Web.Areas.User.Pages.Shop.Products.IndexModel
@{
    ViewData["Title"] = "Shop";
}
@{
}


<div class="content">

    <div class="search-bar mb-4">
        <form class="d-flex justify-content-center">
            <input class="form-control me-2" type="search" placeholder="Produkt suchen..." aria-label="Suchen" style="max-width: 500px;">
            <button class="btn btn-outline-success" type="submit">Suchen</button>
        </form>
    </div>


    <div class="row">
        <div class="col-lg-3">
            <!-- Sidebar mit Filteroptionen -->
            <div class="row mb-3">
                <!-- Kategorien -->
                <h4>Kategorien</h4>
                @foreach (var category in Model.CategoryNames)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="@($"cat-{category.Id}")">
                        <label class="form-check-label" for="@($"cat-{category.Id}")">@category.CategoryName</label>
                    </div>
                }
            </div>
            <div class="row mb-3">
                <h4>Größe</h4>
                <div class="form-check"><input id="formCheck-5" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-5">Marke 1</label></div>
                <div class="form-check"><input id="formCheck-6" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-6">Marke 2</label></div>
                <div class="form-check"><input id="formCheck-7" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-7">Marke 3</label></div>
            </div>
            <div class="row mb-3">
                @* Oder wenn du Tag Helpers verwendest: *@
                <partial name="~/Areas/User/Pages/Shop/Shared/Sidebar/_ColorPickerFilter.cshtml" />

                @* Verstecktes Feld, um die ausgewählte Farbe zu speichern *@
                <input type="hidden" id="selectedColor" name="selectedColor" value="" />
            </div>
        </div>

        <!-- Produktliste -->
        <div class="col-lg-9">
            <partial name="~/Areas/User/Pages/Shop/Shared/_ProductsList.cshtml" model="Model" />
        </div>



    </div>
</div>

@section Scripts {
    <script src="~/js/colorPicker.js"></script>
}
