<h3>Farbe</h3>
@* TODO: Farben mit Farbkreis anzeigen und zum Filtern verwenden *@
<div class="form-check"><input id="formCheck-8" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-8">Rot</label></div>
<div class="form-check"><input id="formCheck-9" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-9">Blau</label></div>
<div class="form-check"><input id="formCheck-9" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-9">Grün</label></div>
<div class="form-check"><input id="formCheck-9" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-9">Gelb</label></div>
<div class="form-check"><input id="formCheck-9" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-9">Rosa</label></div>