<div class="price-input-filter">
    <div class="form-group">
        <label for="minPriceInput">Min Preis (€):</label>
        <input type="number" class="form-control" id="minPriceInput" name="minPrice" placeholder="0" min="0" step="1">
    </div>

    <div class="form-group">
        <label for="maxPriceInput">Max Preis (€):</label>
        <input type="number" class="form-control" id="maxPriceInput" name="maxPrice" placeholder="200" min="0" step="1">
    </div>
</div>