
<div class="size-filter">
    <label for="sizeRange">Größe auswählen:</label>
    <input type="range" class="form-range" min="1" max="4" step="1" id="sizeRange" oninput="updateSizeLabel(this.value)">
    <span id="sizeLabel">Alle Größen</span>
</div>
